<div id="copyright" class="row">
    <div class="col-sm-8 col-lg-10">
        <ul class="list-unstyled">
            <li th:each="pageLink:${properties['pageLinkList']}">
                <a class="copyright" th:href="@{/_web/+${pageLink['url']}}" href="index.html" title="首页"
                   th:text="${pageLink['name']}">首页</a>
            </li>
        </ul>
        <p th:text="${properties['contactInformation']}" class="copyright copyright-contact">
            业务热线：400-1818-357 加盟热线：400-1008-013
        </p>
        <p th:text="${properties['companyAddress']}" class="copyright copyright-address">
            公司地址：杭州市滨江区阡陌路482号智慧e谷B幢4楼
        </p>
        <p th:text="${properties['copyrightContent']}" class="copyright">
            Copyright©2013-2016.杭州火图科技有限公司，浙ICP备13027761号-5
        </p>
    </div>
    <div class="col-sm-4 col-lg-2 hidden-xs">
        <img class="img-responsive" th:src="${properties['QRcodeUri']}" src="http://placehold.it/100x100?text=二维码"
             alt="二维码">
    </div>
</div>