<div class="copyright copyright-3">
    <div class="container">
        <div class="row copyright-cutting">
            <ul class="list-unstyled col-md-10">
                <li>
                    <a href="#">关于我们</a>
                    <ul class="sub-list">
                        <li><a href="#">公司介绍</a></li>
                        <li><a href="#">养生知识</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">资讯中心</a>
                    <ul class="sub-list">
                        <li><a href="#">春季养生</a></li>
                        <li><a href="#">养生知识</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">招商加盟</a>
                    <ul class="sub-list">
                        <li><a href="#">公司介绍</a></li>
                        <li><a href="#">养生知识</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">产品中心</a>
                    <ul class="sub-list">
                        <li><a href="#">工艺制作</a></li>
                        <li><a href="#">养生知识</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">LookBook</a>
                    <ul class="sub-list">
                        <li><a href="#">公司介绍</a></li>
                        <li><a href="#">养生知识</a></li>
                    </ul>
                </li>
            </ul>
            <div class="col-md-2 clearfix">
                <img class="img-responsive center-block copyright-pull-right qrcode" src="http://placehold.it/100x100?text=二维码" alt="二维码"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="copyright-contact">Copyright © 2006 版权所有：上海国厚投资管理有限公司 皖ICP备xxxx号</p>
                <p class="copyright-address">地址：上海市普陀区岚皋路567号B座505-506室</p>
            </div>
        </div>
    </div>
</div>