<div xmlns:res="http://resource.jiangcai.me" xmlns:th="http://www.thymeleaf.org"
     class="copyright copyright-block copyright-sf" th:id="${componentId}">
    <div class="container">
        <div class="row copyright-block-top">
            <ul class="list-unstyled col-md-6 row">
                <li th:each="pageLink:${pageLinkList}" class="col-md-3">
                    <a th:if="${pageLink['flag']==0}" th:href="${pageLink['linkPath']}" href="javascript:void(0)"
                       th:text="${pageLink['name']}">首页</a>

                    <a th:if="${pageLink['flag']==1}" th:href="@{/_web/{path}
                    (path=${@cmsDataSourceService.findPageInfoContent(pageLink['linkPath'])!=null
                     ?@cmsDataSourceService.findPageInfoContent(pageLink['linkPath']).pagePath:''})}"
                       href="javascript:void(0)"
                       th:text="${pageLink['name']}">首页</a>
                </li>
            </ul>
            <div class="copyright-sf-pull-right" th:each="item:${QRCodeItems}">
                <img class="img-responsive center-block qrcode" src="http://placehold.it/100x100?text=二维码" alt="二维码"
                     res:src="${item.thumbUri}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <p th:text="'版权：'+${site.copyright}" class="copyright-contact">Copyright © 2006 版权所有：上海国厚投资管理有限公司
                    皖ICP备xxxx号</p>
                <p th:text="'地址：'+${companyAddress}" class="copyright-address">地址：上海市普陀区岚皋路567号B座505-506室</p>
            </div>
            <div class="copyright-sf-pull-right" th:each="item:${picImgItems}">
                <img class="img-responsive center-block copyright-sf-logo" res:src="${item.thumbUri}"
                     src="http://placehold.it/252x36?text=LOGO" alt="Logo"/>
            </div>
        </div>
    </div>
</div>