<div class="copyright copyright-block copyright-sf" xmlns:res="http://resource.jiangcai.me">
    <div class="container">
        <div class="row copyright-block-top">
            <ul class="list-unstyled col-md-6 row">
                <li th:each="pageLink:${pageLinkList}" class="col-md-3">
                    <a th:href="@{/_web/}+${pageLink['pagePath']}" href="index.html"
                       th:text="${pageLink['name']}">首页</a>
                </li>
            </ul>
            <div class="copyright-sf-pull-right">
                <img class="img-responsive center-block qrcode" rc="http://placehold.it/100x100?text=二维码" alt="二维码" th:src="${QRcode}" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <p th:text="${site.copyright}" class="copyright-contact">Copyright © 2006 版权所有：上海国厚投资管理有限公司 皖ICP备xxxx号</p>
                <p th:text="${site.companyAddress}" class="copyright-address">地址：上海市普陀区岚皋路567号B座505-506室</p>
            </div>
            <div class="copyright-sf-pull-right">
                <img class="img-responsive center-block copyright-sf-logo" res:src="${site.logoUri}" src="http://placehold.it/252x36?text=LOGO" alt="Logo"/>
            </div>
        </div>
    </div>
</div>