<div style="background-color:#1a1a1a; width:100%; " class="footsy">
    <div class="footsy">
        <ul class="list-unstyled">
            <li th:each="pageLink:${pageLinkList}">
                <a th:href="@{/_web/}+${pageLink['pagePath']}" href="index.html"
                   th:text="${pageLink['name']}">首页</a>
            </li>
        </ul>
        <div style=" float:right;width: 92px;margin-right: 10px;">
          <span>
          <img src="http://placehold.it/100x100?text=二维码" alt="二维码" th:src="${QRcodeUri}" />
          </span>
        </div>
        <p style="clear:both"></p>
        <p style="border-bottom:1px solid #979797; width:1000px;;height:20px; margin-bottom:15px;">&nbsp;</p>
        <div style="width:420px; float:left;">
            <p style=" font-size:12px; margin-top:10px;" th:text="${copyrightContent}" class=" copyright-content">
                Copyright © 2006 版权所有：上海国厚投资管理有限公司 皖ICP备xxxx号
            </p>
            <p style="font-size:12px;" th:text="${companyAddress}" class=" copyright-address" >
                地址：上海市普陀区岚皋路567号B座505-506室
            </p>
        </div>
        <p style="margin:16px 0px; float:right;">
            <img style="width:252px;" th:src="${logoUri}" src="http://placehold.it/100x100?text=LOGO" >
        </p>
        <p style="clear:both"></p>
    </div>
</div>